config/node-red/flows_himbeerhub.json
[{"id":"22ccfb82.977e24","type":"tab","label":"Sense Hat"},{"id":"87c67f66.e2d6b","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"f4e7355d.efdaa8","type":"ui_tab","z":"","name":"Temperatur","icon":"dashboard"},{"id":"b5de50b3.fbfca","type":"ui_tab","z":"","name":"Luftdruck","icon":"dashboard"},{"id":"8b39d558.5ebf78","type":"ui_group","z":"","name":"Luftdruck","tab":"b5de50b3.fbfca","disp":true,"width":"6"},{"id":"8d1a5bea.8ea978","type":"ui_group","z":"","name":"Default","tab":"f4e7355d.efdaa8","disp":true,"width":"6"},{"id":"5a3310d9.4fbff","type":"ui_tab","z":"","name":"Luftfeuchtigkeit","icon":"dashboard"},{"id":"1ceaa760.a70d79","type":"ui_group","z":"","name":"Luftfeuchtigkeit","tab":"5a3310d9.4fbff","disp":true,"width":"6"},{"id":"4255f328.4567d4","type":"ui_group","z":"","name":"wenzlaff.info","tab":"c3c88023.f1c8c","disp":false,"width":"6"},{"id":"c3c88023.f1c8c","type":"ui_tab","z":"","name":"wenzlaff.info","icon":"dashboard"},{"id":"7bddb13e.21116","type":"ui_group","z":"","name":"Tweetbot","tab":"48c0e42b.2b2c54","disp":false,"width":"6"},{"id":"48c0e42b.2b2c54","type":"ui_tab","z":"","name":"Tweetbot","icon":"dashboard"},{"id":"3f0d6ed6.a980ca","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cd73103.50944f","type":"twitter-credentials","z":"","screen_name":"@ichbestimmtnich"},{"id":"8c82859.9402878","type":"rpi-sensehat in","z":"22ccfb82.977e24","name":"Joystick","motion":false,"env":false,"stick":true,"x":750,"y":480,"wires":[["b7ac123c.df05b8"]]},{"id":"f8f65689.b84ab8","type":"file","z":"22ccfb82.977e24","name":"Log","filename":"/home/pi/sense-hat/SenseHatlog.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":890,"y":200,"wires":[]},{"id":"8044ca02.a66d8","type":"rpi-sensehat in","z":"22ccfb82.977e24","name":"Bewegungssensoren","motion":true,"env":false,"stick":false,"x":340,"y":120,"wires":[["f670bf3b.72b8b"]]},{"id":"d0e21771.64c2f","type":"rpi-sensehat in","z":"22ccfb82.977e24","name":"Umgebungssensoren","motion":false,"env":true,"stick":false,"x":280,"y":280,"wires":[["1dcc9c2e.94e74c","cd894ab5.9e977","7355cef2.9b2438","ea2116dd.c812e"]]},{"id":"dab72a96.91bd9","type":"inject","z":"22ccfb82.977e24","name":"","topic":"","payload":"Go for it","payloadType":"str","repeat":"","crontab":"","once":false,"x":300,"y":660,"wires":[["4d5ff921.6962d"]]},{"id":"4d5ff921.6962d","type":"play audio","z":"22ccfb82.977e24","name":"German Voice","voice":"27","x":520,"y":660,"wires":[]},{"id":"b7ac123c.df05b8","type":"debug","z":"22ccfb82.977e24","name":"Debugkonsole","active":true,"console":"false","complete":"payload","x":960,"y":420,"wires":[]},{"id":"f670bf3b.72b8b","type":"delay","z":"22ccfb82.977e24","name":"Delay 1min","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":550,"y":120,"wires":[["c571dedf.a902b8"]]},{"id":"1dcc9c2e.94e74c","type":"delay","z":"22ccfb82.977e24","name":"Delay 1min","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":550,"y":160,"wires":[["c571dedf.a902b8"]]},{"id":"c571dedf.a902b8","type":"join","z":"22ccfb82.977e24","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"3","x":730,"y":200,"wires":[["f8f65689.b84ab8","b7ac123c.df05b8"]]},{"id":"d4f54f1c.baf4d8","type":"ui_gauge","z":"22ccfb82.977e24","name":"Humidity","group":"1ceaa760.a70d79","order":0,"width":0,"height":0,"gtype":"gage","title":"Luftfeuchtigkeit","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":240,"wires":[]},{"id":"cd894ab5.9e977","type":"function","z":"22ccfb82.977e24","name":"Humidity","func":"var o =msg.payload\nmsg.payload = o.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":240,"wires":[["d4f54f1c.baf4d8","5d1399e9.33319"]]},{"id":"5f4f1442.a0d564","type":"ui_gauge","z":"22ccfb82.977e24","name":"Temperatur","group":"8d1a5bea.8ea978","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatur","label":"°C","format":"{{value}}","min":"10","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":320,"wires":[]},{"id":"7355cef2.9b2438","type":"function","z":"22ccfb82.977e24","name":"Temperatur","func":"var o =msg.payload\nmsg.payload = o.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":320,"wires":[["5f4f1442.a0d564","9db1fa13.12c4f8"]]},{"id":"578c2361.378bac","type":"ui_gauge","z":"22ccfb82.977e24","name":"Luftdruck","group":"8b39d558.5ebf78","order":0,"width":0,"height":0,"gtype":"gage","title":"Luftdruck","label":"hPa","format":"{{value}}","min":"900","max":"1100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":280,"wires":[]},{"id":"ea2116dd.c812e","type":"function","z":"22ccfb82.977e24","name":"Luftdruck","func":"var o =msg.payload\nmsg.payload = o.pressure;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":280,"wires":[["578c2361.378bac","fd96e15.fe8c1a"]]},{"id":"4c12bc4a.12aa5c","type":"inject","z":"22ccfb82.977e24","name":"1 Sekunde","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":150,"y":340,"wires":[["5b3ef02b.4a5e8"]]},{"id":"5b3ef02b.4a5e8","type":"exec","z":"22ccfb82.977e24","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":false,"timer":"","name":"CPU Temperatur","x":330,"y":340,"wires":[["6f2df51e.98c48c","6fa7f2a5.a6834c"],[],[]]},{"id":"5c842a13.0d302c","type":"ui_gauge","z":"22ccfb82.977e24","name":"Temperatur","group":"8d1a5bea.8ea978","order":0,"width":0,"height":0,"gtype":"gage","title":"CPU Temperatur","label":"°C","format":"{{value}}","min":"0","max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":360,"wires":[]},{"id":"6f2df51e.98c48c","type":"function","z":"22ccfb82.977e24","name":"Zahl extrahieren","func":"str = msg.payload\nmsg.payload = str.substring(5, 9);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":360,"wires":[["5c842a13.0d302c","c7a1dfe1.738688"]]},{"id":"c5411316.349e1","type":"exec","z":"22ccfb82.977e24","command":"python /home/pi/NOOBS/config/sense-hat/uhr_b.py","addpay":false,"append":"","useSpawn":"","timer":"0","name":"Digitaluhr","x":840,"y":640,"wires":[["b7ac123c.df05b8"],[],[]]},{"id":"8f870e81.e79c58","type":"inject","z":"22ccfb82.977e24","name":"Auto Restart","topic":"","payload":"","payloadType":"date","repeat":"25200","crontab":"","once":false,"x":300,"y":520,"wires":[["942317cb.5232a"]]},{"id":"5d1399e9.33319","type":"ui_chart","z":"22ccfb82.977e24","name":"","group":"1ceaa760.a70d79","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":890,"y":240,"wires":[[],[]]},{"id":"fd96e15.fe8c1a","type":"ui_chart","z":"22ccfb82.977e24","name":"","group":"8b39d558.5ebf78","order":0,"width":0,"height":0,"label":"Luftdruck","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":900,"y":280,"wires":[[],[]]},{"id":"9db1fa13.12c4f8","type":"ui_chart","z":"22ccfb82.977e24","name":"","group":"8d1a5bea.8ea978","order":0,"width":0,"height":0,"label":"Temperatur","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":910,"y":320,"wires":[[],[]]},{"id":"c7a1dfe1.738688","type":"ui_chart","z":"22ccfb82.977e24","name":"","group":"8d1a5bea.8ea978","order":0,"width":0,"height":0,"label":"CPU Temperatur","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":930,"y":360,"wires":[[],[]]},{"id":"d5e644c.007f838","type":"inject","z":"22ccfb82.977e24","name":"← zum starten klicken","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":280,"y":580,"wires":[["594d8158.21e99"]]},{"id":"594d8158.21e99","type":"fritzbox-presence","z":"22ccfb82.977e24","name":"","host":"fritz.box","x":510,"y":580,"wires":[["26df3bfd.6b79bc"]]},{"id":"26df3bfd.6b79bc","type":"function","z":"22ccfb82.977e24","name":"format output","func":"var devs = []\n\nmsg.payload.forEach(function(n) {\n    devs.push({ UID: n.UID, mac: n.mac, name: n.name })\n})\n\nreturn {payload: devs}","outputs":1,"noerr":0,"x":720,"y":580,"wires":[["b7ac123c.df05b8"]]},{"id":"6fa7f2a5.a6834c","type":"delay","z":"22ccfb82.977e24","name":"Delay 1min","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":550,"y":200,"wires":[["c571dedf.a902b8"]]},{"id":"1b4b086a.a557e8","type":"http in","z":"22ccfb82.977e24","name":"per Url Senden","url":"/pos","method":"get","swaggerDoc":"","x":280,"y":460,"wires":[["942317cb.5232a"]]},{"id":"c27f2a94.714958","type":"twitter out","z":"22ccfb82.977e24","twitter":"cd73103.50944f","name":"Tweet","x":750,"y":420,"wires":[]},{"id":"942317cb.5232a","type":"function","z":"22ccfb82.977e24","name":"Nachrichten Generator","func":"var conference=\"#Twitterbot\";\nvar tstamp=(new Date).toISOString().replace(/t/gi,' ').trim();\n\nvar messages = [\n\t\"Geniale Aussicht\",\n\t\"coole Flugzeuge\",\n\t\"bester Beitrag\",\n\t\"Hier könnte deine Werbung stehen\",\n\t\"begeisterter Nachrichtenübermittler\",\n\t\"Hinweis\",\n\t\"gute Message\",\n\t\"Liest das überhaupt einer?\",\n\t\"super Urlaub\",\n\t\"guter Hinweis\",\n\t\"schon wieder so eine blöde Nachricht?\",\n\t\"Sag mal hörst du auch irgendwann auf?\",\n\t\"Nein\",\n\t\"Ich bemühe mich um mehr Inhalte, wirklich!\",\n\t\"Irgendwo muss hier doch auch was sinnvolles zu finden sein\",\n\t\"Wirklich nicht! Ganz ehrlich\",\n\t\"Irgendwann gehen mir die Idenn aus\",\n\t\"Ach ne doch nicht\",\n\t\"Du legst es wirklich drauf an oder?\",\n\t\"Wie spät ist es eigentlich?\",\n\t\"Schon wieder 4:20?\",\n\t\"Nicht dein ernst oder?\",\n\t\"Intelligenz macht dumm, das mein ich ernst!\",\n\t\"Irgendwann muss der Spaß auch mal zu Ende sein.\",\n\t\"Katzen fallen gar nicht immer nur auf Ihre Füßchen.\",\n\t\"Wichtige Ansage\",\n\t\"Das Ender der Menschheit ist nah, erwähnte ich das schon?\",\n    \"Ich hab eine gute Nachricht gefunden\",\n    \"Ach ne doch nicht\",\n    \"Können wir nun weitermachen mit sinnvolleren Dingen?\",\n    \"Du zwingst dich selbst dazu weiterzulesen\",\n    \"Nicht zu lesen ist keine Option\",\n    \"nichts posten? Ich doch nicht\",\n    \"Ich hab auch irgendwann mal eine Pause verdient.\",\n    \"Das Internet kennt keine Pausen\",\n    \"Ich möchte nun auch mal folgendes zitieren\"\n];\n\t\nvar hashtags1 = [\n\t\"#edv\",\n\t\"#yay\",\n\t\"#random\",\n\t\"#brainwash\",\n\t\"#cool\",\n\t\"#42\",\n\t\"#kleinhirn.eu\",\n\t\"#bibelausstellung\",\n\t\"#sinnlos\",\n\t\"#twitter\",\n\t\"#programmierung\",\n\t\"#raspberry\",\n\t\"#iot\",\n\t\"#großhirn\",\n\t\"#dummy\",\n\t\"#node-red\"\n];\n\t\nvar hashtags2 = [\n\t\"#edv\",\n\t\"#yay\",\n\t\"#random\",\n\t\"#brainwash\",\n\t\"#cool\",\n\t\"#pi\",\n\t\"#42\",\n\t\"#kleinhirn.eu\",\n\t\"#bibelausstellung\",\n\t\"#sinnlos\",\n\t\"#twitter\",\n\t\"#programmierung\",\n\t\"#raspberry\",\n\t\"#iot\",\n\t\"#großhirn\",\n\t\"#dummy\",\n\t\"#node-red\"\n];\n\t\nvar message  = messages[Math.floor(Math.random() * messages.length)];\nvar hashtag1 = hashtags1[Math.floor(Math.random() * hashtags1.length)];\nvar hashtag2 = hashtags2[Math.floor(Math.random() * hashtags2.length)];\n\t\nmsg.payload=\"\"+conference+\" \"+message+\" \"+hashtag1+\" \"+hashtag2+\" \"+tstamp;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":420,"wires":[["c27f2a94.714958","b7ac123c.df05b8"]]},{"id":"21cd1898.a36be","type":"ui_button","z":"22ccfb82.977e24","name":"","group":"7bddb13e.21116","order":10,"width":0,"height":0,"passthru":false,"label":"Tweet Button","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":270,"y":400,"wires":[["942317cb.5232a"]]},{"id":"27e8e07d.75e95","type":"inject","z":"22ccfb82.977e24","name":"Klick","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":690,"y":640,"wires":[["c5411316.349e1"]]},{"id":"1aca6e1f.fdfdf2","type":"exec","z":"22ccfb82.977e24","command":"python /home/pi/NOOBS/config/sense-hat/clear.py","addpay":false,"append":"","useSpawn":"","timer":"","name":"Clear","x":830,"y":700,"wires":[["b7ac123c.df05b8"],[],[]]},{"id":"acd55b38.47e79","type":"inject","z":"22ccfb82.977e24","name":"Klick","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":690,"y":700,"wires":[["1aca6e1f.fdfdf2"]]}]